<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our company consists of a small consortium of internet marketers, professional photographers, and residential property managers. With our unique set of skills, we focus on making your property work for you. We find renters by utilizing passive and social marketing, as well as keyword and location targeted internet advertising. At BespokeB&B we're dedicated to making your property known to vacationers, travelers, and corporate clients around the world. It's what we do.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Here at BespokeB&B, we operate on commission alone. Not only is this a great motivating factor for us as a company; it means that there is absolutely zero up-front risk for our property owning clients. Simply put: we don't get paid until you do. Why, you ask? Because we want you, the client, to feel comfortable with us managing your properties. As an added safety measure for our clients, each listing is covered for up to $1 million dollars worth of damages. We want you to sleep soundly at night knowing that, at the end of the day, your property is in good hands.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our mission at BespokeB&B is to provide a new stream of revenue to the discerning property owner with ease and autonomy. Whether you're renting out your home while on holiday; your lake house in the off season; or your pied-à-terre in the city-- we're confident we can generate revenue for you. All you have to do is kick back and relax.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
