<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <h3 class="section-subheading text-muted">Bespoke B&B is a property management service specializing in high-end vacation rentals.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Exposure</h4>
                    <p class="text-muted">BespokeB&B is dedicated to driving top quality short-term renters to your property through a diverse network of powerful internet marketing platforms.
</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Revenue</h4>
                    <p class="text-muted">Our business is entirely dependent on your success in the short-term rental market. We work hard every day to generate revenue for you in this new and lucrative market.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ease of Mind</h4>
                    <p class="text-muted">The model we employ at BespokeB&B allows property owners to be as little involved as they like. All we need are any necessary keys, codes, and dates of property availability. As soon as we’re sorted you can kick back and let us do the work for you.</p>
                </div>
            </div>
        </div>
    </section>
